
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/BOX_WHISKER_PLOTS/ProShares VIX Mid-Term Futures (VIXM)_box_whisker.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/BOX_WHISKER_PLOTS/Vanguard LifeStrategy Income Fund (VASIX)_box_whisker.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/BOX_WHISKER_PLOTS/Vanguard Total World Stock ETF (VT)_box_whisker.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/desktop.ini
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/AIC_BIC_KS_TABLE/aic_bic_ks_table.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/AIC_BIC_KS_TABLE/desktop.ini
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/Archive/desktop.ini
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/ASSET_RETURNS_OUTLIERS/combined_tables.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/ASSET_RETURNS_OUTLIERS/desktop.ini
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/ASSET_RETURNS_OUTLIERS/negative_outliers.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/ASSET_RETURNS_OUTLIERS/positive_outliers.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/ASSET_RETURNS_OUTLIERS/summary_table.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/Asset_Summary_Statistics_Tables/desktop.ini
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/Asset_Summary_Tables/desktop.ini
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/AGF U.S. Market Neutral Anti-Beta (BTAL)_bootstrap_fitted_distributions.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/AQR Diversified Arbitrage I (ADAIX)_bootstrap_fitted_distributions.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/AQR Equity Market Neutral I (QMNIX)_bootstrap_fitted_distributions.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/AQR Long-Short Equity I (QLEIX)_bootstrap_fitted_distributions.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/AQR Macro Opportunities I (QGMIX)_bootstrap_fitted_distributions.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/AQR Managed Futures Strategy HV I (QMHIX)_bootstrap_fitted_distributions.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/AQR Risk-Balanced Commodities Strategy I (ARCIX)_bootstrap_fitted_distributions.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/AQR Style Premia Alternative I (QSPIX)_bootstrap_fitted_distributions.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/Bitcoin Market Price USD (^BTC)_bootstrap_fitted_distributions.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/combined_bootstrap_fitted_distributions.png
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/desktop.ini
Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS/Invesco DB US Dollar Bullish (UUP)_bootstrap_fitted_distributions.png
/Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian/Exhibit archive/BOOTSTRAP_FITTED_DISTRIBUTIONS
/Jupyter Notebook Files/Archive/Exhibits for Technical Report From Ian
